{% extends 'dash_navber.html' %}
{% block title %}
    student_class
{% endblock title %}

{% block content %}
<div class="container row" style="margin-top: 5em;">
    <h5 class="mb-3 col-6">Student Class {{ session.name }}</h5>
    <div class="col-6 text-end">
        <a href="{% url 'parent_app:search_parent' %}" class="btn btn-primary">
            Add Student
        </a>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>Class</th>
            <th>Grade</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        {% for cls in classes %}
        <tr>
    <td>{{ cls|upper }}</td>

    <td>
        <select class="form-select form-select-sm arm-select">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
    </td>

    <td>
        <a href="#" class="btn btn-sm btn-primary view-btn"
           data-level="{{ cls }}">
            View
        </a>
    </td>
</tr>
        {% endfor %}
    </tbody>
</table>

<script>
document.querySelectorAll('.view-btn').forEach(btn => {
    btn.addEventListener('click', function (e) {
        e.preventDefault();

        const level = this.dataset.level;
        const arm = this.closest('tr')
                        .querySelector('.arm-select')
                        .value;

        window.location.href =
            `{% url 'student_app:student_list' %}?level=${level}&arm=${arm}`;
    });
});
</script>
  </div>
    {% endblock content %}